<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyc.mapper.SixModuleMapper">
	<insert id="addSixMoudle" parameterType="com.wyc.entity.SixModule">
		insert into sixmodule
		(id,street,subject1,subject2,subject3,custom,title1,title2,title3, title4,title5,title6,iframe1,iframe2,iframe3,iframe4,iframe5,iframe6,modal,modal1,modal2,modal3,modal4,modal5,modal6,version,saveTime,view)
		values
			(
			id,
			 #{street},
			#{subject1},
			#{subject2},
			#{subject3},
			#{custom},
			#{title1},
			#{title2},
			#{title3},
			#{title4},
			#{title5},
			#{title6},
			#{iframe1},
			#{iframe2},
			#{iframe3},
			#{iframe4},
			#{iframe5},
			#{iframe6},
			#{modal},
			#{modal1},
			#{modal2},
			#{modal3},
			#{modal4},
			#{modal5},
			#{modal6},
			#{version},
			now(),
			#{view}
			)
	</insert>

	<select id="querySixModules" resultType="com.wyc.entity.SixModule">
		select * from sixmodule where street = #{street}
		<if test="version != null and version != ''">
			and version=#{version}
		</if>
		<choose>
			<when test="version !=null and version != ''">
				and version = #{version}
			</when>
			<otherwise>
				and version = (select max(version) from sixmodule)
			</otherwise>
		</choose>
	</select>

	<update id="updateSixModules" parameterType="java.lang.Integer">
		update sixmodule set saveTime = now()
		where id = #{id}
	</update>
</mapper> 